{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>
    {% include 'head/css.html' %}
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  rel="stylesheet" /> {% endcomment %}
  </head>
  <body>
    <header class="h-20 w-full bg-slate-600 flex items-center justify-center">
{% comment %} nav bar header conatainer  {% endcomment %}
      <div class="w-4/5 h-full grid grid-rows-1 grid-cols-2">
        {% comment %} App Title {% endcomment %}
        <div class="cols-span-1 flex items-center justify-center"></div>
        {% comment %} Navigation Information {% endcomment %}
        <div class="cols-span-1"></div>
      </div>
    </header>
    <div class="container">{% block content %} {% endblock %}</div>
    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script> {% endcomment %}
  </body>
</html>