{% extends "base.html" %}
{% load static %}
{%block content%}

<h1>Here you can add a Product to you tracker</h1>
<div class="container mx-auto px-4 py-5">
    <form action="/create" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="submit" value="submit" class=" px-4 py-3 rounded bg-blue-500 cursor-pointer hover:bg-sky-800 text-white">
        <input type="submit" name = "submit" value="delete" class=" px-4 py-3 rounded bg-blue-500 cursor-pointer hover:bg-sky-800 text-white ">
    </form>
</div>
<div class="display">
    <p>Your Product URLs:</p>
    <p>{{products}}</p>
</div>

{% endblock %}