{% extends "base.html" %}
{% load static %}
{%block content%}

<h1 class="text-center">Here you can add a Product to you tracker</h1>
<div class=" mx-auto px-4 py-5">
    <form class="flex flex-col items-center justify-center h-[200px]" action="/create" method="POST">
        {% csrf_token %}
        {{ form }} </bg>
        <div class="w-full flex items-center justify-center gap-4">
            <input type="submit" name="submit" value="submit" class=" px-4 py-3 rounded bg-blue-500 cursor-pointer hover:bg-sky-300 text-white hover:px-5 hover:py-3.5">
            <input type="submit" name = "submit" value="delete" class=" px-4 py-3 rounded bg-blue-500 cursor-pointer hover:bg-sky-300 text-white hover:px-5 hover:py-3.5">
        </div>
    </form>
</div>
<div class="display w-full hover:bg-sky-300 rounded">
    <p class="text-red-700 text-center">Your Product URLs:</p>
    <p>{{products}}</p>
</div>

{% endblock %}